In [30]:
import pandas as pd
pd.set_option("display.max_columns", 0)

# Importing the data

In [31]:
train = pd.read_csv('data/train.csv')
X = train.drop('CLASS', axis = 1)
y = train.CLASS

test = pd.read_csv('data/test.csv')
X_test = test.drop('Id', axis = 1)
index_test = test.Id

In [32]:
X_test.head()

   AAGE          ACLSWKR  ADTIND   ...     VETQVA VETYN  WKSWORK
0    28          Private      33   ...          2    52       94
1    41          Private      11   ...          2    52       94
2    37  Not_in_universe       0   ...          2     0       94
3    43          Private      25   ...          2    52       94
4    36          Private      29   ...          2    52       94

[5 rows x 41 columns]

In [33]:
print(X.shape)
print(X_test.shape)

(10000, 41)
(4800, 41)

In [34]:
df = pd.concat([X, X_test], axis = 0)

In [35]:
print(df.shape)
print(df.columns)

(14800, 41)
Index(['AAGE', 'ACLSWKR', 'ADTIND', 'ADTOCC', 'AHGA', 'AHRSPAY', 'AHSCOL',
       'AMARITL', 'AMJIND', 'AMJOCC', 'ARACE', 'AREORGN', 'ASEX', 'AUNMEM',
       'AUNTYPE', 'AWKSTAT', 'CAPGAIN', 'CAPLOSS', 'DIVVAL', 'FILESTAT',
       'GRINREG', 'GRINST', 'HHDFMX', 'HHDREL', 'MARSUPWT', 'MIGMTR1',
       'MIGMTR3', 'MIGMTR4', 'MIGSAME', 'MIGSUN', 'NOEMP', 'PARENT',
       'PEFNTVTY', 'PEMNTVTY', 'PENATVTY', 'PRCITSHP', 'SEOTR', 'TAXINC',
       'VETQVA', 'VETYN', 'WKSWORK'],
      dtype='object')

In [36]:
y.value_counts()

-50000    5000
50000+    5000
Name: CLASS, dtype: int64

## Categorial and numeric features

In [37]:
print(df.dtypes)

AAGE          int64
ACLSWKR      object
ADTIND        int64
ADTOCC        int64
AHGA         object
AHRSPAY       int64
AHSCOL       object
AMARITL      object
AMJIND       object
AMJOCC       object
ARACE        object
AREORGN      object
ASEX         object
AUNMEM       object
AUNTYPE      object
AWKSTAT      object
CAPGAIN       int64
CAPLOSS       int64
DIVVAL        int64
FILESTAT     object
GRINREG      object
GRINST       object
HHDFMX       object
HHDREL       object
MARSUPWT    float64
MIGMTR1      object
MIGMTR3      object
MIGMTR4      object
MIGSAME      object
MIGSUN       object
NOEMP         int64
PARENT       object
PEFNTVTY     object
PEMNTVTY     object
PENATVTY     object
PRCITSHP     object
SEOTR         int64
TAXINC       object
VETQVA        int64
VETYN         int64
WKSWORK       int64
dtype: object

In [38]:
cat_variables = [i for i in df.columns if df[i].dtype == 'O']
print('-----categorical features:\n%s' % cat_variables)

num_variables = [i for i in df.columns if df[i].dtype != 'O']
print('\n-----numeric features:\n%s' % num_variables)

-----categorical features:
['ACLSWKR', 'AHGA', 'AHSCOL', 'AMARITL', 'AMJIND', 'AMJOCC', 'ARACE', 'AREORGN', 'ASEX', 'AUNMEM', 'AUNTYPE', 'AWKSTAT', 'FILESTAT', 'GRINREG', 'GRINST', 'HHDFMX', 'HHDREL', 'MIGMTR1', 'MIGMTR3', 'MIGMTR4', 'MIGSAME', 'MIGSUN', 'PARENT', 'PEFNTVTY', 'PEMNTVTY', 'PENATVTY', 'PRCITSHP', 'TAXINC']

-----numeric features:
['AAGE', 'ADTIND', 'ADTOCC', 'AHRSPAY', 'CAPGAIN', 'CAPLOSS', 'DIVVAL', 'MARSUPWT', 'NOEMP', 'SEOTR', 'VETQVA', 'VETYN', 'WKSWORK']

### One-hot encoding

In [39]:
for c in cat_variables:
    temp = pd.get_dummies(df[c], dummy_na=True, prefix=c)
    df = pd.concat([df, temp], axis = 1)
    df.drop(c, axis=1, inplace=True)

In [40]:
print(df.shape)

(14800, 407)

In [41]:
df.head()

   AAGE  ADTIND     ...      TAXINC_Yes  TAXINC_nan
0    43      43     ...             0.0         0.0
1     0       0     ...             0.0         0.0
2    44      11     ...             0.0         0.0
3    43      35     ...             0.0         0.0
4    39      24     ...             0.0         0.0

[5 rows x 407 columns]