In [14]:
import pandas as pd
data = pd.read_csv('data/smsspamcollection/SMSSpamCollection', 
            sep='\t', 
            header=None, 
            names=['Status', 'Sentence'], 
            true_values=['spam'], 
            false_values=['ham'])
data.head()

  Status                                           Sentence
0  False  Go until jurong point, crazy.. Available only ...
1  False                      Ok lar... Joking wif u oni...
2   True  Free entry in 2 a wkly comp to win FA Cup fina...
3  False  U dun say so early hor... U c already then say...
4  False  Nah I don't think he goes to usf, he lives aro...

In [15]:
data['lower'] = [sentence.lower() for sentence in data['Sentence']]

In [16]:
data.head()

,Status,Sentence,lower
0,False,"Go until jurong point, crazy.. Available only ...","go until jurong point, crazy.. available only ..."
1,False,Ok lar... Joking wif u oni...,ok lar... joking wif u oni...
2,True,Free entry in 2 a wkly comp to win FA Cup fina...,free entry in 2 a wkly comp to win fa cup fina...
3,False,U dun say so early hor... U c already then say...,u dun say so early hor... u c already then say...
4,False,"Nah I don't think he goes to usf, he lives aro...","nah i don't think he goes to usf, he lives aro..."