In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import xgboost as xgb

from datetime import datetime

from sklearn.preprocessing import LabelEncoder

In [2]:
train = pd.read_csv("data/ech_apprentissage.csv",
                    sep = ';',
                    index_col = 'id',
                    low_memory = False)

X_test = pd.read_csv('data/ech_test.csv',
                     sep = ';',
                     index_col = 'id')

X = train.drop('prime_tot_ttc', axis = 1)
y = train.prime_tot_ttc

In [3]:
cat_variables = ['marque', 
                'codepostal',
                'energie_veh',
                 'profession',
                 'var6',
                 'var7',
                 'var8',
                 'var14',
                 'var16'
                ]

In [4]:
# X.fillna(0, inplace = True)
# X_test.fillna(0, inplace = True)

In [9]:
X.fillna(X.mean(axis=1, skipna=True), inplace = True)
X_test.fillna(X_test.mean(axis=1, skipna=True), inplace = True)

,annee_naissance,annee_permis,marque,puis_fiscale,anc_veh,codepostal,energie_veh,kmage_annuel,crm,profession,...,var13,var14,var15,var16,var17,var18,var19,var20,var21,var22
id,,,,,,,,,,,,,,,,,,,,,
300001,1992.0,2011.0,54,4,2,2,2,2983,88,9,...,3,0,0,1,0,20,2,0,1,0
300002,1991.0,2010.0,54,6,36,2,2,6496,50,9,...,5,0,0,4,1,20,1,0,1,0
300003,1976.0,1995.0,54,10,3,2,2,6971,50,9,...,5,0,7,1,1,21,1,0,1,0
300004,1976.0,1995.0,7,13,1,2,2,7293,68,9,...,4,0,0,1,1,22,1,0,1,0
300005,1984.0,2004.0,50,9,0,2,2,6982,50,9,...,5,0,2,4,1,16,0,0,1,1
300006,1990.0,2009.0,54,7,33,2,2,7000,100,12,...,5,0,0,4,1,16,0,0,1,1
300007,1980.0,1999.0,50,7,33,2,2,11451,100,12,...,5,0,0,4,1,17,0,1,1,1
300008,1965.0,1984.0,54,5,0,2,2,2906,54,8,...,3,0,0,3,1,18,0,1,1,1
300009,1971.0,1990.0,45,6,2,2,2,6633,125,8,...,4,0,0,1,1,20,0,0,1,1
300010,1980.0,1999.0,21,8,3,2,2,6657,112,8,...,2,0,0,1,4,19,0,1,1,1
300011,1972.0,1991.0,50,11,0,2,2,11451,50,8,...,3,0,1,3,4,20,0,1,1,1
300012,1989.0,2009.0,69,4,26,2,2,2880,118,8,...,3,0,0,3,1,20,0,0,1,1
300013,1984.0,2003.0,49,6,13,2,2,6587,50,8,...,5,0,2,3,1,19,1,1,1,0
300014,1983.0,2002.0,20,4,0,2,2,2915,50,0,...,3,0,2,1,1,20,1,0,1,0
300015,1988.0,2007.0,54,4,0,2,2,3000,95,0,...,3,0,2,3,1,21,1,0,1,0
300016,1990.0,2009.0,50,5,19,2,2,3008,50,0,...,2,0,1,1,1,22,1,0,1,0
300017,1980.0,2000.0,50,6,20,2,2,6374,68,0,...,3,0,0,1,1,19,1,0,1,0
300018,1988.0,2007.0,11,5,40,2,2,6283,106,0,...,3,0,0,4,1,19,2,0,1,0
300019,1991.0,2010.0,50,6,0,2,2,6779,50,0,...,5,0,0,1,1,19,2,0,1,0
300020,1982.0,2002.0,49,7,0,2,2,3049,100,0,...,5,0,2,4,1,20,2,0,1,0
300021,1985.0,2004.0,11,7,19,2,2,7056,50,0,...,5,0,2,1,1,21,2,0,1,0
300022,1983.0,2003.0,25,7,34,2,2,6324,100,0,...,3,0,0,4,2,20,1,1,0,0
300023,1985.0,2004.0,49,7,40,2,2,6957,112,0,...,3,0,2,4,2,21,1,1,1,0
300024,1986.0,2005.0,71,4,0,2,2,6349,64,0,...,5,0,1,4,2,22,1,1,1,0
300025,1981.0,2000.0,0,8,0,2,2,6928,50,2,...,3,0,1,0,2,20,1,1,1,0
300026,1992.0,2011.0,50,5,40,2,2,2854,68,15,...,3,0,0,4,1,21,1,1,1,0
300027,1990.0,2009.0,11,7,0,2,2,7389,50,2,...,5,0,2,0,1,22,1,1,1,0
300028,1990.0,2009.0,71,4,0,2,2,6349,68,0,...,5,0,1,4,4,21,0,1,1,2
300029,1985.0,2004.0,28,10,0,2,2,7014,50,0,...,2,0,3,1,1,20,0,1,1,1
300030,1972.0,1991.0,69,7,21,2,2,7099,55,0,...,5,0,0,2,1,21,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329971,1974.0,1994.0,54,5,99,40,2,6526,50,10,...,5,0,2,5,1,18,1,1,0,0
329972,1993.0,2012.0,54,5,99,40,2,6526,50,7,...,5,0,3,5,1,19,1,1,0,0
329973,1988.0,2007.0,71,6,0,40,3,7509,72,0,...,5,0,0,4,1,12,0,1,0,1
329974,1972.0,1991.0,36,8,40,40,3,12263,72,0,...,3,0,0,4,1,13,0,1,0,1
329975,1980.0,1999.0,54,8,0,40,3,7563,50,0,...,5,0,0,1,1,14,0,1,0,1
329976,1991.0,2011.0,71,4,41,40,3,3098,95,0,...,5,0,0,4,2,16,1,1,1,0
329977,1982.0,2001.0,54,5,0,40,3,6244,86,0,...,3,0,0,4,2,17,1,1,1,0
329978,1988.0,2007.0,54,6,40,40,3,3098,95,0,...,3,0,2,4,2,17,2,1,1,0
329979,1985.0,2005.0,50,7,0,40,3,6826,85,0,...,3,0,1,4,2,18,2,1,1,0
329980,1989.0,2008.0,66,5,0,40,3,7113,94,0,...,5,0,2,4,2,19,1,0,1,0
329981,1990.0,2009.0,66,5,0,40,3,7113,79,0,...,5,0,0,4,1,17,0,1,1,1
329982,1980.0,1999.0,21,10,40,40,3,12405,68,0,...,4,0,0,4,1,18,0,1,1,1
329983,1989.0,2008.0,54,6,37,40,3,6418,68,0,...,5,0,0,4,1,18,0,1,1,1
329984,1985.0,2005.0,3,7,0,40,3,6928,53,3,...,3,0,1,3,1,19,0,1,1,1
329985,1979.0,1999.0,42,8,0,40,3,7563,50,3,...,2,0,1,1,1,17,0,0,0,1
329986,1984.0,2003.0,42,8,0,40,3,7563,50,3,...,2,0,1,1,1,17,2,1,1,0
329987,1984.0,2005.0,42,8,0,40,3,7563,50,3,...,2,0,1,1,1,18,2,1,1,0
329988,1987.0,2006.0,42,8,0,40,3,7563,50,3,...,2,0,1,1,1,19,2,1,1,0
329989,1987.0,2006.0,42,8,0,40,3,7563,50,3,...,2,0,1,1,1,17,0,1,1,3
329990,1985.0,2005.0,3,10,34,40,3,12441,50,5,...,2,0,1,4,1,18,0,1,1,3
329991,1980.0,2000.0,7,12,0,40,3,11981,55,15,...,5,0,3,4,1,19,0,1,1,3
329992,1972.0,1992.0,47,11,40,40,3,13747,50,15,...,3,0,2,4,1,17,0,0,1,0
329993,1987.0,2006.0,69,5,41,40,3,6496,50,15,...,5,0,0,4,1,18,0,0,1,0
329994,1985.0,2004.0,47,11,40,40,3,13747,50,15,...,3,0,2,4,1,19,0,0,1,0
329995,1979.0,1998.0,42,8,33,39,3,7563,50,2,...,2,0,0,4,1,17,0,0,0,1
329996,1978.0,1998.0,42,8,33,39,3,7563,50,2,...,2,0,0,4,1,18,0,0,0,1
329997,1987.0,2006.0,0,8,38,36,3,7224,50,0,...,4,0,1,4,1,19,0,0,0,1
329998,1991.0,2010.0,50,5,13,36,3,6511,100,0,...,3,0,0,3,1,8,0,1,1,1
329999,1972.0,1991.0,45,6,1,36,2,6308,64,9,...,4,0,1,1,1,8,0,1,1,1
330000,1984.0,2003.0,49,4,13,36,2,3008,100,0,...,3,0,0,3,1,9,0,1,1,1

In [11]:
encods = [LabelEncoder() for col in cat_variables]
for i, col in enumerate(cat_variables):
    X[col] = encods[i].fit_transform(X[col].astype(str))

encods_test = [LabelEncoder() for col in cat_variables]
for i, col in enumerate(cat_variables):
    X_test[col] = encods_test[i].fit_transform(X_test[col].astype(str))

In [12]:
# человеческая метрика
def mape2(preds, dtrain):
    y_true = dtrain.get_label()
    return 'mape2', np.mean(np.abs((y_true - preds) / y_true))

dtrain = xgb.DMatrix(X, y, missing=0)
dtest = xgb.DMatrix(X_test)

XGBoostError: b'There are NAN in the matrix, however, you did not set missing=NAN'

In [13]:
param = { }
num_round = 100
bst = xgb.train(param, dtrain, num_round)

NameError: name 'dtrain' is not defined

In [14]:
pred = bst.predict(dtest)

NameError: name 'bst' is not defined

In [ ]:
filename = 'xgb_' + datetime.now().strftime(format = '%d%m_%H%M') + '.csv'
pd.DataFrame({'id': X_test.index, 'pred': pred}).to_csv(filename,
                                                        index=False,
                                                        sep=';')