In [1]:
import pandas as pd

data_folder = 'data'

In [3]:
!ls data

champ1_test.csv  champ1_train.csv

## `train`

In [12]:
train = pd.read_csv('/'.join([data_folder, "champ1_train.csv"]),
                     index_col='_ID_﻿')

In [13]:
train.head()

,_TYPE_,_DATE_,_ADDRESS_,_PRICE_,_AREA_,_METRO,_LAT_,_LON_,_DESC_
_ID_﻿,,,,,,,,,
46595,Офис,10/09/2016,"г.Чебоксары, ул.Ярославская, 76, Ленинский, Че...",1 100 000 РУБ.,"16,1м²",NaN,56.13138,47.24982,"Офис находится в административном здании, кото..."
45544,Производство,15/08/2016,"ул Автодромная, 21, Троицк, Челябинская область",4 200 000 РУБ.,600м²,NaN,54.0818634,61.5924759,Продам производственное помещение в районе Тро...
17472,Другое,26/08/2016,"ул Дальневосточная, 151, Октябрьский, Иркутск,...",3 400 000 РУБ.,55м²,NaN,52.2538872,104.3219,"ЖК Ангарские паруса, отличное помещение, с отд..."
33269,Другое,30/08/2016,"ул Ленина, 268в, Азов, Ростовская область",15 000 000 РУБ.,280м²,NaN,47.0912743,39.4440079,Продается здание под коммерческую деятельность...
21835,Офис,20/08/2016,"пр.Репина, Прикубанский, Краснодар, Краснодарс...",750 000 РУБ.,20м²,NaN,None,None,"цокольный этаж 16-ти эт. дома, квроремонт, спл..."

In [2]:
X = train.drop('cible1', axis = 1)
y = train.cible1

In [3]:
X.head(1)

,Finess,Raison sociale,Provenance des patients (département),Domaines d activités,"âge (deux classes >75 ans, <= 75 ans)",Nombre de séjours/séances MCO des patients en ALD,Nombre total de séjours/séances,annee
0,010007300,CLINIQUE AMBULATOIRE CENDANEG,01-Ain,D01-Digestif,<=75 ans,19,1061,2008

## `test`

In [9]:
X_test = pd.read_csv('/'.join([data_folder, "champ1_test.csv"]), 
                     index_col='_ID_')

ids = X_test.index

In [10]:
X_test.head(1)

,_CITY_,_ADRS_,_OBJ_TYPE_,_TTL_S_,_F1_S_,_F1_U_,_FC_S_,_FC_U_,_F0_S_,_F0_U_,...,_ROUND_,_FOOT_TRAF_,_IS_PRKNG_,_IS_WIN_,_IS_SEP_ENT_,_IS_VENT_,_DECOR_,_IS_COM_,_F1_H_,_DATE_
_ID_,,,,,,,,,,,,,,,,,,,,,
0,г. Санкт-Петербург,"1-я Красноармейская ул., д.8-10, лит.А",помещение,"184,7","184,7",торговое,0,NaN,0,NaN,...,жилая застройка,очень высокий,городская парковка,да,да,центральная вентиляция,рабочее состояние,все,"2,7",19.04.2016